server:
  port: 8081

#spring:
#  data:
#    mongodb:
#      uri: mongodb://localhost:27017/spring_boot_test
spring:
  data:
    mongodb:
      uri: mongodb://mongo:27017/spring_boot_test
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    doc-expansion: none
    display-request-duration: true
    try-it-out-enabled: true
    packages-to-scan: com.clinica.services.v1.cita.controller,com.clinica.services.v1.medico.controller
  default-produces-media-type: application/json